<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="customer" type="cg.wbd.grandemonstration.model.Customer"*/-->
<!--/*@thymesVar id="messages" type="cg.wbd.grandemonstration.model.Message"*/-->
<!--/*@thymesVar id="provinces" type="java.lang.Iterable<cg.wbd.grandemonstration.model.Province>"*/-->
<head>
  <meta charset="UTF-8">
  <title>Customer Information</title>
  <style>
    .error {
      color: red;
      font-size: small;
    }
  </style>
</head>
<body>
<form action="/customers" method="post" th:object="${customer}">
  <fieldset>
    <legend>Customer Information</legend>
    <input type="hidden" th:field="*{id}">
    <table>
      <tr>
        <td>Id</td>
        <td th:text="${customer.id}"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" th:field="*{name}">
          <span class="error" th:if="${#fields.hasErrors('name')}" th:text="${messages.customerName}"></span>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input type="text" th:field="*{email}">
          <span class="error" th:if="${#fields.hasErrors('email')}" th:text="${messages.customerEmail}"></span>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <input type="text" th:field="*{address}">
          <span class="error" th:if="${#fields.hasErrors('address')}" th:text="${messages.customerAddress}"></span>
        </td>
      </tr>
      <tr>
        <td>Province</td>
        <td>
          <select name="province">
            <option th:each="p : ${provinces}" th:text="${p.name}" th:value="${p.id}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Update">
          <span class="error" th:if="${#fields.hasErrors()}" th:text="${messages.customerFields + '. '}"></span>
          <span class="error" th:if="${#fields.hasGlobalErrors()}" th:text="${messages.customerGlobal}"></span>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<a href="/customers">Back to list</a>.
<hr>
Language: <a href="?lang=en">English</a> | <a href="?lang=fr">French</a>
</body>
</html>